{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <style>
                .custom-image-size {
                    width: 100%; 
                    max-height: 250px; 
                    object-fit: cover;
                    margin: auto;
                }
                .row.align-items-center {
                    display: flex; 
                    align-items: center; 
                }
                .right {
                    text-align: left; 
                }
            </style>
            <div class="homepage owl-carousel"
                data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                        <div class="row align-items-center">
                            <div class="col-sm-6 right">
                                <h2>{{ .title | safeHTML }}</h2>
                                <div class="description">
                                    {{ .description | safeHTML }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-responsive custom-image-size" src="{{ .image }}" alt="">
                            </div>
                        </div>
                    {{ if .href }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}