<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>

<body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** MAIN COLUMN *** -->
                    <div class="col-md-12">
                        <h1>{{ .Title }}</h1>
                        <p>{{ .Description }}</p>
                        
                        <div id="awards-content">
                            {{ .Content }}
                        </div>
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>
