<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "headers.html" . }}
</head>
<body>
    <div id="all">
        {{ partial "top.html" . }}
        {{ partial "nav.html" . }}
        <div id="content">
            <div class="container">
                <!-- Custom Title -->
                <h1 class="custom-title">{{ .Title }}</h1>
                <div class="row">
                    {{ range .Pages }}
                    <div class="col-md-12 mb-4">
                        <div class="publication-item">
                            <h4>
                                <a href="{{ .Permalink }}" class="text-primary">
                                    {{ .Title }}
                                </a>
                            </h4>
                            <p class="text-muted">
                                {{ .Params.company }}, {{ .Params.role }}, {{ .Params.duration }}
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>

</body>
</html>
